/* CSS Document */
body{

	background-color:#e5edf0;	
	color:#333333;
	font-family:Arial, Helvetica, sans-serif;
}
#formLogin{
	-moz-border-radius: 5px; -webkit-border-radius: 5px; -msie-border-radius: 5px;
	background-color:#FFF;
	margin-top:5%;
	text-align:center;
	
	box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0,0,0,0.15);
	padding:20px;
	background : -linear-gradient(top, rgb(1, 134, 191) 00%, rgb(15, 109, 164) 99%);
	background : -moz-linear-gradient(top, rgb(1, 134, 191) 00%, rgb(15, 109, 164) 99%);
	background : -ms-linear-gradient(top, rgb(1, 134, 191) 00%, rgb(15, 109, 164) 99%); 
	background : -o-linear-gradient(top, rgb(1, 134, 191) 00%, rgb(15, 109, 164) 99%);
	background : -webkit-linear-gradient(top, rgb(1, 134, 191) 00%, rgb(15, 109, 164) 99%);
}
#formLogin h3{
	color:#FFFFFF;	
	text-shadow:#999 2px 2px 3px;
}
#formLogin label{
	color:#CCC;
	font-size:15pt;
	margin:20px;
}
#formLogin input[type=text],#formLogin input[type=password]{
	margin:10px;
	padding:10px;
	font-size:12pt;
	width:160px;
	border:#CCC 1px solid;
}
#formLogin input[type=submit]{
	padding:10px;
	font-weight:bolder;
}
fieldset {
	background-color:#FFF;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; -msie-border-radius: 5px;
	border:#0f6da4 1px solid;	
	box-shadow:#999 2px 2px 3px;
	margin-bottom:10px;	
	padding: 5px;
	
}
fieldset legend{
	background : -linear-gradient(top, rgb(1, 134, 191) 00%, rgb(15, 109, 164) 99%);
	background : -moz-linear-gradient(top, rgb(1, 134, 191) 00%, rgb(15, 109, 164) 99%);
	background : -ms-linear-gradient(top, rgb(1, 134, 191) 00%, rgb(15, 109, 164) 99%); 
	background : -o-linear-gradient(top, rgb(1, 134, 191) 00%, rgb(15, 109, 164) 99%);
	background : -webkit-linear-gradient(top, rgb(1, 134, 191) 00%, rgb(15, 109, 164) 99%);
	border:#0f6da4 3px solid;
	color:#fff;
	cursor:default;
	font-weight:bold;
	margin-left:4px;
	margin-right:4px;
	margin-top:10px;
	padding:5px;
	text-align:center;
	text-shadow:1px 1px 10px #000;
}